{% extends "profile/base.html"%}
{% load static %}
{% static "" as baseUrl %}


            

            {% block navbar %}
            <ul class="right hide-on-med-and-down">                 
                <li><a href="/uvdomjudge/logout/"><span class="icon-exit"></span></a></li>
            </ul>
            {% endblock %} 


            {% block collection%}
            <ul class="collection">
                <li class="collection-item avatar">
                    <i class="material-icons circle red darken-3"><span class="icon-book"></span></i>
                    <span class="title red-text text-darken-3" style="font-weight: 500;">{{ course.name_course }}</span>
                    <p>
                        Group:  {{ course.group_course }}<br>
                        Professor:  {{ course.professor_name }} <br>
                        Credits:  {{ course.credits_course }}
                    </p>
                </li>
            </ul>

    		{% endblock%}


    		{% block title%}    		
    			<h5 style="color:#424242;">Contests</h5>
    		{% endblock%}




            {% block options %}
            {% for contest in contests%}
            <li>
                <div class="collapsible-header"><i class="material-icons">widgets</i>{{ contest.1 }}</div>
                <div class="collapsible-body" id="div_collapsible">

                    <div class="left-align">
                        <p class="title_inside_div" >Set Rubrics</p>

                        <div id="tab_course_profile_details" class="col s12" >
                            <div class="col s6">
                                <table>
                                    {% for problem in contest.3 %}
                                    <tr>
                                        <td>
                                            <div class="inside_div icon_inside_div">
                                                <i class="material-icons">add_box</i><a class="span_text_icon modal-trigger" href="#modal_problem_id_{{ problem.0 }}">{{ problem.1 }}</a>
                                            </div>

                                            <!-- Modal Structure -->
                                            <div id="modal_problem_id_{{ problem.0 }}" class="modal">
                                                <div class="modal-content">
                                                    <p class="title_problem_modal">{{ problem.1 }}</p>
                                                    <form id="rubricform_{{ contest.0 }}_{{ problem.0 }}" class="col s12" method ='POST' action="#">
                                                        {% csrf_token %}

                                                        <input id="rubricform_id_contest" value="{{ contest.0 }}" style="display:none;" />
                                                        <input id="rubricform_id_problem" value="{{ problem.0 }}" style="display:none;" />
                                                        <!--Terminal Objective-->
                                                        <div class="row">
                                                            <div class="input-field">
                                                                 <textarea id="rubricform_terminal_objetive_{{ contest.0 }}_{{ problem.0 }}" class="materialize-textarea"></textarea>
                                                                <label for="rubricform_terminal_objetive_{{ contest.0 }}_{{ problem.0 }}.id_for_label">Terminal Objective</label>
                                                            </div>
                                                        </div>
                                                        <!--Terminal Objective-->
                                                        <!--Activity-->
                                                        <div class="row">
                                                            <div class="input-field">
                                                                 <textarea id="rubricform_activity_{{ contest.0 }}_{{ problem.0 }}" class="materialize-textarea"></textarea>
                                                                <label for="rubricform_activity_{{ contest.0 }}_{{ problem.0 }}.id_for_label">Activity</label>
                                                            </div>
                                                        </div>
                                                        <!--Activity-->

                                                        <!--weight-->
                                                        <div class="row">
                                                            <div class="input-field">
                                                                <input type="number" name="weight" min="0" required="" id="rubricform_weight_{{ contest.0 }}_{{ problem.0 }}">
                                                                <label for="rubricform_weight_{{ contest.0 }}_{{ problem.0 }}.id_for_label" class="">Weight</label>
                                                            </div>
                                                        </div>
                                                        <!--weight-->
                                                        <!--Approved and not approved-->
                                                        <div class="row">
                                                            <div class="col s6">
                                                                <div class="input-field">
                                                                <textarea id="rubricform_approved_{{ contest.0 }}_{{ problem.0 }}" class="materialize-textarea"></textarea>
                                                                <label for="rubricform_approved_{{ contest.0 }}_{{ problem.0 }}.id_for_label" class="">Approved</label>
                                                            </div>
                                                            </div>
                                                            <div class="col s6">
                                                                <div class="input-field">
                                                                <textarea id="rubricform_not_approved_{{ contest.0 }}_{{ problem.0 }}" class="materialize-textarea"></textarea>
                                                                <label for="rubricform_not_approved_{{ contest.0 }}_{{ problem.0 }}.id_for_label" class="">Not Approved</label>
                                                            </div>
                                                            </div>

                                                        </div>
                                                        <!--Approved and not approved-->

                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="col s12">
                                                        <div class="center-align">
                                                            <button id="btnrubricform_{{ contest.0 }}_{{ problem.0 }}" class="btn_rubricform modal-close btn waves-effect waves-light red darken-4"   >
                                                                Save<i class="material-icons right">send</i>
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- End Modal Structure -->


                                        </td>
                                    </tr>

                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="left-align">
                        <p class="title_inside_div" >Download Rubric and Evaluation</p>

                        <div id="tab_course_profile_download_files" class="col s12" >
                            <div class="col s6">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="inside_div icon_inside_div">
                                                <i class="material-icons">file_download</i><a class="span_text_icon modal-trigger" href="{% static "" %}/rubric_contest_{{ contest.0 }}.xlsx" download >Rubric File</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>

                    <div class="left-align">
                        <p class="title_inside_div" >Statistics</p>

                        {% for attemp in number_of_attempts%}
                            {% if contest.0 == attemp.0 %}
                            <div class="row">
                                <div id="container_probid_attemp_{{ attemp.1 }}" class="col s6" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                                <script type="text/javascript">

                                Highcharts.chart('container_probid_attemp_{{ attemp.1 }}', {
                                chart: {
                                    plotBackgroundColor: null,
                                    plotBorderWidth: null,
                                    plotShadow: false,
                                    type: 'pie',
                                    height: 300,
                                },
                                title: {
                                    text: 'Number of Attemps: {{ attemp.2 }}'
                                },
                                tooltip: {
                                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                },
                                plotOptions: {
                                    pie: {
                                        allowPointSelect: true,
                                        cursor: 'pointer',
                                        dataLabels: {
                                            enabled: true,
                                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                            style: {
                                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                            }
                                        }
                                    }
                                },
                                series: [{
                                    name: 'Brands',
                                    colorByPoint: true,
                                    data: [
                                    {% for n in attemp.3 %}
                                        {
                                            name: '{{ n.1 }} attemps',
                                            y: {{ n.0 }},
                                        },
                                    {% endfor %}
                                    ]
                                }]
                                });
                                </script>
                                <div id="container_probid_submissions_{{ attemp.1 }}" class="col s6" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                                <script type="text/javascript">
                                {{attemp.4.0}}
                                {{attemp.4.1}}

                                Highcharts.chart('container_probid_submissions_{{ attemp.1 }}', {
                                chart: {
                                    plotBackgroundColor: null,
                                    plotBorderWidth: null,
                                    plotShadow: false,
                                    type: 'pie',
                                    height: 300,
                                },
                                title: {
                                    text: 'Submission vs. no Submission: {{ attemp.2 }}'
                                },
                                tooltip: {
                                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                },
                                plotOptions: {
                                    pie: {
                                        allowPointSelect: true,
                                        cursor: 'pointer',
                                        dataLabels: {
                                            enabled: true,
                                            format: '<b>{point.name} {point.y}</b> = {point.percentage:.1f} %',
                                            style: {
                                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                            }
                                        }
                                    }
                                },
                                series: [{
                                    name: 'Brands',
                                    colorByPoint: true,
                                    data: [

                                        {
                                            name: 'Submissions',
                                            y: {{  attemp.4.0 }},
                                        },
                                        {
                                            name: 'No Submissions',
                                            y: {{  attemp.4.1 }},
                                        },
                                    ]
                                }]
                                });
                                </script>

                            </div>

                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </li>
            {% endfor %}
            {% endblock %}



            

    		{% block content%}

			<!--display forms errors-->
			{% if log_in_form.errors %}
				{% for field in log_in_form %}
					{% for error in field.errors %}
						<div class="card-panel red lighten-4">
	                        <span>{{ error|escape }}</span>
	                    </div>
					{% endfor %}
				{% endfor %}
				{% for error in log_in_form.non_field_errors %}
						<div class="card-panel red lighten-4">
	                        <span>{{ error|escape }}</span>
	                    </div>
				{% endfor %}
			{% endif %}
			<!--display forms errors-->   		
    		{% endblock %}   