{% extends "profile/base.html"%}


            

            {% block navbar %}
            <ul class="right hide-on-med-and-down">                 
                <li><a href="/uvdomjudge/logout/"><span class="icon-exit"></span></a></li>
            </ul>
            {% endblock %} 


            {% block collection %}          
                <ul class="collection">             
                    <li class="collection-item avatar">
                        <i class="material-icons circle red darken-3"><span class="icon-user-tie"></span></i>
                        <span class="title red-text text-darken-3" style="font-weight: 500;"><span id={{user.first_name}}>{{ user.first_name }}</span> <span id={{user.last_name}}>{{ user.last_name }}</span></span>
                        <p>
                            Identification:  <span id="{{ user.id }}">{{ user.id }}</span><br>
                            Username:        <span id={{user.username}}>{{ user.username }}</span><br>
                            E-mail:          <span id={{user.email}}>{{ user.email }}</span><br>                           
                        </p>                      
                    </li>               
                </ul>           
            {% endblock %}


    		{% block title%}    		
    			<h5 style="color:#424242;">Professor's Profile</h5>
    		{% endblock%}

            {% block options %}            
            
                <ul id="tab_professor_profile" class="tabs ">
                    <li class="tab col s3">
                        <a class="tab_professor_profile active" href="#tab_professor_profile_courses_in_charge">Courses in charge</a>
                    </li>
                    <li class="tab col s3">
                        <a class="tab_professor_profile" href="#tab_professor_profile_create_course">Create a course</a>
                    </li>
                </ul>
                
                <div id="tab_professor_profile_courses_in_charge" class="col s12">  
                    <div style="height: 50px;"></div>
                    <div class="row">
                        <ul class="collapsible">
                        {% for course in courses_professor %}
                            <li>
                                {% if course.status == 'false' %}
                                <div class="collapsible-header"><i class="material-icons">library_books</i>{{ course.id_course }}</div>
                                <div class="collapsible-body">
                                    <table>
                                        <tr>
                                            <td class="letter_courses">Code:</td>
                                            <td>{{ course.code_course }}</td>
                                        </tr>
                                        <tr>
                                            <td class="letter_courses">Name:</td>
                                            <td>{{ course.name_course }}</td>
                                        </tr>
                                        <tr>
                                            <td class="letter_courses">Group:</td>
                                            <td>{{ course.group_course }}</td>
                                        </tr>
                                        <tr>
                                            <td class="letter_courses">Running:</td>
                                            <td>{{ course.status }}</td>
                                        </tr>
                                        <tr>
                                            <td class="letter_courses ">Url page:</td>
                                            <td><a  class="disabled_link" href="{{ course.url_page }}" target="_blank">{{ course.url_page }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="letter_courses disabled">Course's virtual judge:</td>
                                            <td><a class="disabled_link" href="{{ course.url_judge }}" target="_blank">{{ course.url_judge }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="letter_courses">Actions:</td>
                                            <td>
                                                <div class="professor_course_actions">
                                                    <div class="div-btn-floatin-button">
                                                        <a id="btn-play-{{ course.id_course }}" class="btn-play-function btn-floating btn-small waves-effect waves-light tooltipped green"
                                                        data-position="top" data-tooltip="Start this container" ><i class="material-icons">play_arrow</i></a>
                                                    </div>
                                                    <div class="div-btn-floatin-button">
                                                        <a id="btn-stop-{{ course.id_course }}" class="btn-stop-function disabled_btn btn-floating btn-small waves-effect waves-light tooltipped grey darken-1" data-position="top" data-tooltip="This container can not be paused because it is not running." ><i class="material-icons">pause</i></a>
                                                    </div>
                                                    <div class="div-btn-floatin-button">
                                                        <a id="btn-remove-{{ course.id_course }}" class="btn-remove-function btn-floating btn-small waves-effect waves-light tooltipped green" data-position="top" data-tooltip="Delete this container" ><i class="material-icons">delete</i></a>
                                                    </div>
                                                    <div class="div-btn-floatin-button">
                                                        <a id="btn-logs-{{ course.id_course }}" class="btn-logs-function btn-floating btn-small waves-effect waves-light tooltipped green" data-position="top" data-tooltip="Show logs from this container" ><i class="material-icons">remove_red_eye</i></a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                {% elif course.status == 'true' %}
                                <div class="collapsible-header letter_play_container"><i class="material-icons">library_books</i>{{ course.id_course }}</div>
                                <div class="collapsible-body">
                                    <table>
                                        <tr>
                                            <td class="letter_courses">Code:</td>
                                            <td>{{ course.code_course }}</td>
                                        </tr>
                                        <tr>
                                            <td class="letter_courses">Name:</td>
                                            <td>{{ course.name_course }}</td>
                                        </tr>
                                        <tr>
                                            <td class="letter_courses">Group:</td>
                                            <td>{{ course.group_course }}</td>
                                        </tr>
                                        <tr>
                                            <td class="letter_courses">Running:</td>
                                            <td>{{ course.status }}</td>
                                        </tr>
                                        <tr>
                                            <td class="letter_courses">Url page:</td>
                                            <td><a href="{{ course.url_page }}" target="_blank">{{ course.url_page }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="letter_courses">Course's virtual judge:</td>
                                            <td><a href="{{ course.url_judge }}" target="_blank">{{ course.url_judge }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="letter_courses">Actions:</td>
                                            <td>
                                                <div class="professor_course_actions">
                                                    <div class="div-btn-floatin-button">
                                                        <a id="btn-play-{{ course.id_course }}" class="btn-play-function disabled_btn btn-floating btn-small waves-effect waves-light tooltipped grey darken-1"
                                                        data-position="top" data-tooltip="This container can not be started because it is already running." ><i class="material-icons">play_arrow</i></a>
                                                    </div>
                                                    <div class="div-btn-floatin-button">
                                                        <a id="btn-stop-{{ course.id_course }}" class="btn-stop-function btn-floating btn-small waves-effect waves-light tooltipped green" data-position="top" data-tooltip="Stop this container" ><i class="material-icons">pause</i></a>
                                                    </div>
                                                    <div class="div-btn-floatin-button">
                                                        <a id="btn-remove-{{ course.id_course }}" class="btn-remove-function disabled_btn btn-floating btn-small waves-effect waves-light tooltipped green" data-position="top" data-tooltip="Delete this container." ><i class="material-icons">delete</i></a>
                                                    </div>
                                                    <div class="div-btn-floatin-button">
                                                        <a id="btn-logs-{{ course.id_course }}" class="btn-logs-function btn-floating btn-small waves-effect waves-light tooltipped green" data-position="top" data-tooltip="Show logs from this container" ><i class="material-icons">remove_red_eye</i></a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                {% endif %}
                            </li>
                        {% endfor %}                    
                        </ul>                    
                    </div>
                </div>
                
                <div id="tab_professor_profile_create_course" class="col s12">
                    <div style="height: 50px;"></div>                 
                    <form id="create_course_form" method ='POST' action=".">
                    {% csrf_token %}

                        <!--Code of Course-->
                        <div class="row">
                            <div class="input-field">
                                {{ create_course_form.code_course}}
                                <label for="{{ create_course_form.code_course.id_for_label }}">Code</label>
                            </div>
                        </div>
                        <!--Code of Course-->

                        <!--Name of Course-->
                        <div class="row">
                            <div class="input-field">
                                {{ create_course_form.name_course}}
                                <label for="{{ create_course_form.name_course.id_for_label }}">Name</label>
                            </div>
                        </div>
                        <!--Name of Course-->

                        <!--Credits of Course-->
                        <div class="row">
                            <div class="input-field">
                                {{ create_course_form.credits_course}}
                              <label for="{{ create_course_form.credits_course.id_for_label }}">Credits</label>
                            </div>
                        </div>
                        <!--Credits of Course-->

                        <!--Professor of Course-->
                        <div class="row">
                            <div class="input-field">
                                <input type="text" name="{{ create_course_form.professor_course.name }}" readonly value="{{ user.id }}">
                                <label for="{{ create_course_form.professor_course.id_for_label }}">Professor</label>
                            </div>
                        </div>
                        <!--Professor of Course-->

                        <!--Group of Course-->
                        <div class="row">
                            <div class="input-field">
                              {{ create_course_form.group_course}}
                              <label for="{{ create_course_form.group_course.id_for_label }}" data-error="Invalid value." data-success="Valid.">Group</label>
                            </div>
                            <div>
                                <p id="error_group_course"></p>
                            </div>
                        </div>
                        <!--Group of Course-->

                        <!--Period of Course-->
                        <div class="row">
                            <div class="input-field">
                                {{ create_course_form.period_course}}
                                <label for="{{ create_course_form.period_course.id_for_label }}">Period</label>
                            </div>
                        </div>
                        <!--Period of Course-->

                        <!--Year of Course-->
                        <div class="row">
                            <div class="input-field">
                                {{ create_course_form.year_course}}
                                <label for="{{ create_course_form.year_course.id_for_label }}">Year</label>
                            </div>
                        </div>
                        <!--Year of Course-->

                        <!--Programming Language of Course-->
                        <div class="row">
                            <div class="input-field">
                                {{ create_course_form.programming_language}}
                                <label for="{{ create_course_form.programming_language.id_for_label }}">Programming Language</label>
                            </div>
                        </div>
                        <!--Programming Language of Course-->

                        <!--Button Create-->
                        <div class="row">
                            <div class="center">

                                <button id="btn_create_course_submit" class="btn waves-effect waves-light red darken-4" onclick="document.getElementById('create_course_form').submit(); return false;">Create
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                        <!--Button Create-->
                    </form>
                </div>
            {% endblock %}



            

    		{% block content%}

			<!--display forms errors-->
			{% if log_in_form.errors %}
				{% for field in log_in_form %}
					{% for error in field.errors %}
						<div class="card-panel red lighten-4">
	                        <span>{{ error|escape }}</span>
	                    </div>
					{% endfor %}
				{% endfor %}
				{% for error in log_in_form.non_field_errors %}
						<div class="card-panel red lighten-4">
	                        <span>{{ error|escape }}</span>
	                    </div>
				{% endfor %}
			{% endif %}
			<!--display forms errors-->   		
    		{% endblock %}   