{% extends "login/base.html"%}

    		{% block title%}    		
    			<h5 style="color:#424242;">Log In</h5>    		   		
    		{% endblock%}

    		{% block content%}

			<!--display forms errors-->
			{% if log_in_form.errors %}
				{% for field in log_in_form %}
					{% for error in field.errors %}
						<div class="card-panel red lighten-4">
	                        <span>{{ error|escape }}</span>
	                    </div>
					{% endfor %}
				{% endfor %}
				{% for error in log_in_form.non_field_errors %}
						<div class="card-panel red lighten-4">
	                        <span>{{ error|escape }}</span>
	                    </div>
				{% endfor %}
			{% endif %}
			<!--display forms errors-->            
                
            
            <form id="log_in_form" method ='POST' action=".">
            {% csrf_token %}
                <div class="row">
                    <div id="div_log_in" class="col s12 m6 push-m3 push-l3 l6">
                        <div class="input-field">
                            {{ log_in_form.username }}
                            <label for="{{ log_in_form.username.id_for_label }}">Login</label>
                        </div>
                        <div class="input-field">
                            {{ log_in_form.password }}
                            <label for="{{ log_in_form.password.id_for_label }}">Password</label>
                        </div>
                        <div class="center">
                            <button id="btn_create_course_submit" class="btn waves-effect waves-light red darken-4" onclick="document.getElementById('log_in_form').submit(); return false;">Enter
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>                    
            </form>            

    		    		
    		{% endblock %}   